@font-face {
  font-family: "alarm-clock";
  src: url("font/djbgetdigital-6g5g-webfont.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  height: 100vh;
  margin: auto;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  font-family: "alarm-clock";
  font-size: 60px;
  font-weight: 200;
  width: 350px;

  padding-top: 25px;
  padding-bottom: 10px;
  border-radius: 50px;
  border: dotted 0.5px rgb(98, 91, 91);
  box-shadow: 0px 5px 30px 2px whitesmoke;
}

.buttons {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 13%;
}

#play {
  margin-top: 15vh;
  font-size: 50px;
  color: rgb(44, 233, 76);
  cursor: pointer;
  box-shadow: 0px 0px 30px 2px rgb(44, 233, 76);
  border-radius: 30px;
  opacity: 0.8;
  width: 150px;
  text-align: center;
  border: solid 0.5px rgb(44, 43, 43);
}

#save {
  margin-top: 15vh;
  font-size: 50px;
  color: rgb(7, 66, 175);
  cursor: pointer;
  box-shadow: 0px 5px 30px 2px rgb(7, 66, 175);
  border-radius: 30px;

  width: 150px;
  text-align: center;
  border: solid 0.5px rgb(44, 43, 43);
}

.timeStamps {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
  padding: 5px;
  width: 300px;
}

h3 {
  border-radius: 22px;
  background-color: rgba(42, 227, 240, 0.2);
  font-size: 25px;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  padding: 5px;
  color: aliceblue;
  cursor: pointer;
}

.timeStamps > :last-child {
  background-color: rgba(240, 227, 42, 0.2);
}

#delete {
  font-size: 50px;
  color: rgb(175, 97, 7);
  cursor: pointer;
  box-shadow: 0px 5px 30px 2px rgb(175, 97, 7);
  border-radius: 30px;

  width: 150px;
  text-align: center;
  border: solid 0.5px rgb(44, 43, 43);
}

#folder {
  font-size: 50px;
  color: rgb(121, 45, 209);
  cursor: pointer;
  box-shadow: 0px 5px 30px 2px rgb(121, 45, 209);
  border-radius: 30px;

  width: 150px;
  text-align: center;
  opacity: 0.9;
  border: solid 0.5px rgb(44, 43, 43);
}

h2 {
  font-family: "Mukta", sans-serif;
  font-size: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10vh;
  margin-bottom: 10vh;

  color: rgba(121, 45, 209, 0.7);
}

#total {
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-family: "alarm-clock";
  font-size: 50px;
  font-weight: 200;
  text-align: center;
}

#clearTotTime {
  position: absolute;
  bottom: 10px;
  right: 3px;
  font-size: 30px;
  color: rgb(206, 7, 7);
  cursor: pointer;

  padding: 5px;
  width: 70px;
  text-align: center;
  opacity: 0.5;
}
